// Font
// // Font Family
$main-primary-font-family: Inter, sans-serif;
$main-secondary-font-family: Raleway, sans-serif;
$main-monospace-font-family: Inconsolata, monospace;

$alt-primary-font-family: Montserrat, sans-serif;
$alt-secondary-font-family: Recursive, sans-serif;
$alt-monospace-font-family: Inconsolata, monospace;

// // Font Colors
// // // Main
$main-primary-font-color: rgb(206, 206, 206);
$main-secondary-font-color: rgb(87, 126, 231);
$alt-primary-font-color: rgb(53, 53, 53);
$alt-secondary-font-color: rgb(27, 55, 133);

// // // Navbar
$navbar-main-primary-font-color: rgb(131, 131, 131);
$navbar-main-secondary-font-color: rgb(59, 56, 56);
// $navbar-alt-primary-font-color: rgb(0, 0, 0);
// $navbar-alt-secondary-font-color: rgb(0, 0, 0); 

// // Background Colors
$main-primary-background-color: rgb(220, 221, 255); 
$main-secondary-background-color: rgb(22, 22, 22);
// $alt-primary-background-color: #fff; 
// $alt-secondary-background-color: #000;

// Taiji Buttons
$taiji-primary-background-color: #11707c;
$taiji-primary-color: white;

$taiji-secondary-background-color: black;
$taiji-secondary-color: white;
