@use '@styles/utils/variables/style.variables' as VS;
@use '@styles/utils/mixins/style.mixins' as MS;
@use '@styles/utils/mixins/animations.mixins' as MA;

.eventContainer {
	@include MS.flex-spaced-center(row, space-around, center);

	position: sticky;
	width: 100vw;
	height: 2rem;

	opacity: 1;

	background-color: black;

	z-index: 1031;

	// For some reason, the opacity is not being set to 0 when the event is closed.
	// This is a hack to get around that.
	* { 
		opacity: 1;
	}
}

.eventContainerClosed {
	// For transition settings:
	//https://stackoverflow.com/questions/13037637/css-animation-and-display-none
	@include MA.transition-seq(opacity, 0.5s, linear);

	position: absolute;
	width: 100vw;
	height: 2rem;

	opacity: 0;

	background-color: black;

	z-index: 1031;

	// For some reason, the opacity is not being set to 0 when the event is closed.
	// This is a hack to get around that.
	* { 
		opacity: 0;
	}
}

.eventButton {
	// @include MA.transition-seq( all, .2s, ease-in);
	// @include MS.flex-spaced-center(row, space-around, center);

	width: 5rem;
	height: 5rem;
	// padding: 0.2rem;

	// border: VS.$alt-secondary-font-color solid 0.2rem;
	// border-radius: 0.75rem;
	color: blue;
	background-color: white;
	filter: invert(17%) sepia(75%) saturate(1639%) hue-rotate(206deg) brightness(98%) contrast(94%);
	
	p{
		color: VS.$alt-secondary-font-color;
	}

	// &:hover {
	// 	background-color: VS.$alt-secondary-font-color;
	// 	border: #fff solid 0.2rem;

	// 	cursor: pointer;
		
	// 	p{
	// 		color: #fff;
	// 	}
	// }
	z-index: 1033;
}

.eventText {
	color: VS.$navbar-main-primary-font-color;
	margin: 0;
	padding: 0;
}

