// Mixins
@use '@styles/utils/mixins/style.mixins' as MS;
@use '@styles/utils/mixins/animations.mixins' as MA;
@use '@styles/utils/variables/style.variables' as VS;

.navbarMainContainer {
	top: 0; 
    position: sticky;
	width: 100vw;

	border-style: solid;
	border-width: 0.35rem;
	border-image: 
		linear-gradient(
			to left, 
			rgba(255, 255, 255, 0.5) 0%, 
			rgba(4, 0, 255, 0.5),
			rgba(255, 255, 255, 0.5) 100%
		) 
		0 0 1 0;

	border-image-width: 0 0 1 0;
    z-index: 1030;
}

.navbarMain {
	@include MS.flex-spaced-center(row, space-around, center);
	margin-top: -1rem;
	margin-left: -1rem;
	margin-right: -1rem;

	background-color: rgba(255, 255, 255, 1);

}


.navbarMainItemListContainer {
	width: 30vw;
}

.navbarMainItemList {
	--border-width: 0.1rem;
	@include MS.flex-spaced-center(row, space-around, center);

    li{
		@include MS.nav-text(400, VS.$navbar-main-primary-font-color);
		@include MS.centerBar(VS.$main-secondary-font-color, var(--border-width), 0rem);	
		@include MA.transition-seq(all, .2s, ease-in);
		list-style: none;

		a {
			line-height: 3rem;
		}

		&:hover {
            color: VS.$navbar-main-secondary-font-color;
			background-size: 100% var(--border-width);
			cursor: pointer;
        }
    }
}

.logoContainer {
	@include MS.nav-text(600, VS.$main-primary-font-color);
}


.authContainer {
	--side-var: 1rem;
	--button-border-size: 0.15rem;
	@include MS.taiji-button-multi(var(--side-var), var(--side-var), var(--button-border-size), VS.$navbar-main-secondary-font-color);
	
    & > button {
		@include MS.nav-text(400, VS.$navbar-main-secondary-font-color);
		@include MA.transition-seq(all, .2s, ease-in);
		padding: 0;
		margin: 0;
		
        background-color: white;

        & > p {
            margin: 0.25rem;
        }

        &:hover {
            background-color: VS.$taiji-primary-background-color;
            color: VS.$taiji-primary-color;
			cursor: pointer;
        }
    }
}

.eventContainer {
	background-color: black;
}