// Mixins
@use '@styles/utils/mixins/style.mixins' as MS;
@use '@styles/utils/mixins/animations.mixins' as MA;

@use '@styles/utils/variables/style.variables' as VS;


// <div className={styles.callToActionContainer}>

.indexContainer {
	@include MS.flex-spaced-center(column, space-around, center);

	height: 60vh;
	width: 100vw;
	background-color: VS.$main-primary-background-color;
}

.headerContainer {
	@include MS.flex-spaced-center(column, space-around, center);
}

.logoHeader {
	@include MS.index-main-p-text(800, VS.$alt-primary-font-color);
	font-size: 6rem;
}

.diseaseHeader {
	@include MS.index-main-p-text(600, VS.$alt-secondary-font-color);
	font-size: 3rem;
}

// .callToActionContainer {}

.callToActionButton {
	@include MS.taiji-button-single(1rem, 0.15rem, VS.$alt-primary-font-color);
	@include MS.index-main-p-text(400, VS.$alt-primary-font-color);
	@include MA.transition-seq(all, .2s, ease-in);

	background-color: white;
	cursor: pointer;

	& > p {
		margin: 0.25rem;
	}

	&:hover {
		background-color: VS.$taiji-primary-background-color;
		color: VS.$taiji-primary-color;
	}
}