// Mixins
@use '@styles/utils/mixins/style.mixins' as MS;
@use '@styles/utils/mixins/animations.mixins' as MA;

@use '@styles/utils/variables/style.variables' as VS;


// <div className={styles.callToActionContainer}>

.indexContainer {
	display: flex;
	flex-direction: column;
	position: static;

	width: 100vw;
}

.displayContainer {
	@include MS.flex-spaced-center(column, space-around, center);

	height: 70vh;
	width: 100%;
	padding: 4rem;

	background-color: VS.$main-primary-background-color;
}

.headerContainer {
	@include MS.flex-spaced-center(column, space-around, center);
}

.logoHeader {
	@include MS.index-main-p-text(800, VS.$alt-primary-font-color);
	font-size: 6rem;
}

.diseaseHeader {
	@include MS.index-main-p-text(600, VS.$alt-secondary-font-color);
	// display: static;

	opacity: 0;
	font-size: 3rem;

	z-index: 1;
}

// .callToActionContainer {}

.callToActionButton {
	@include MS.taiji-button-single(1rem, 0.15rem, VS.$alt-primary-font-color);
	@include MS.index-main-p-text(400, VS.$alt-primary-font-color);
	@include MA.transition-seq(all, .2s, ease-in);

	background-color: white;
	cursor: pointer;
	
	& > p {
		margin: 0.25rem;
	}

	&:hover {
		background-color: VS.$taiji-primary-background-color;
		color: VS.$taiji-primary-color;
	}
}

.slideshowContainer {
	@include MS.flex-spaced-center(column, space-around, center);
	height: 30vh;

	// margin-top: 2rem;
}

.wContainer {
	@include MS.flex-spaced-center(row, space-around, top);
	height: 40vh;

	background-color: VS.$main-primary-background-color;
}

.wListItemContainer{
	@include MS.flex-spaced-center(column, top, center);

	border: VS.$main-primary-font-color 0.15rem solid;
	border-radius: 1rem;
	width: 15%;
	margin: 1rem;

	background-color: #fff;
}

.descriptionContainer {
	@include MS.scroll-bar-smooth(VS.$alt-primary-font-color, VS.$main-secondary-font-color, VS.$main-primary-font-color);

	border-top: VS.$main-primary-font-color 0.15rem solid;
	padding: 1rem;
	overflow-Y: scroll;

}
